.containerCard {
  width: 85%;
  height: 350px;

  margin: 0 auto 50px;

  display: flex;
  align-items: center;

  position: relative;
}

.cardImage {
  background: center / cover no-repeat url("https://cdn.dribbble.com/users/482016/screenshots/15301126/media/b2568b3579afd0448411c73bbfda9b26.jpg");

  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
}

.cardInfo {
  background-color: #3C3C3C;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  position: absolute;
  right: 0;


  height: 90%;
  width: 60%;

  border-radius: 5px;

  padding: 3rem;
}

.cardInfo h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 14px;
}

.cardInfo p {
  color: #8D8D8D;
  margin-bottom: 18px;
  line-height: 150%;
}

.cardInfo a {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.cardInfo a:hover {
 filter: brightness(70%);
}

.cardInfo a img {
  margin-left: 8px;
  width: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills span {
  width: 30%;

  background-color: #2e2e2e;
  border-radius: 20px;

  font-size: 0.9rem;
  text-align: center;

  margin: 0px 10px 10px 0px;

  padding: 0.2rem;

  transition: all 0.3s ease-in-out;
}

.skills span:hover {
  background-color: #E4002B;

}
