.container {
  background: #1d1d1d;
  position: relative;
  height: 90vh;
}

.container h1 {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 10%;
  font-size: 3.2rem;
  max-width: 700px;
}

.container h1 span {
  color: #E4002B;
}

.arrowLink {
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 0.8rem;
  margin-top: 20px;
  color: #9b9b9b;
  font-family: 'Poppins', sans-serif;
}

.arrowdown {
  top: 50px;
  margin-bottom: 20px;
  opacity: 0.5;
  -webkit-animation: move_down 2s ease-in-out infinite;
  -moz-animation:    move_down 2s ease-in-out infinite;
  animation:         move_down 2s ease-in-out infinite;
}

@-webkit-keyframes move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}

@-moz-keyframes move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}

@keyframes move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
